**graphQL.md

/node_modules


**node_modules
*/graphQL.md/*
**/.graphQL.md
**/.graphQL.md

# dependencies
/node_modules
*/node_modules/*
/.pnp
.pnp.js
/.env
.env
*/.env
.env/*
**/.env
# testing
/coverage


# production
/build
.vscode
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
